body {
    font-size: .875rem;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

h1 {
    margin: 3% 30%;
    width: 40%;
}

.btn {
    background-color: #F28E13;
    border: none;
}

/*
 * Sidebar
 */

.sidebar {
    color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    /* Behind the navbar */
    padding: 100px 0 0;
    /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: white;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
 * Content
 */

/* Title Section */
.title-div {
    text-align: center;
}

[role="main"] {
    padding-top: 133px;
    /* Space for fixed navbar */
}

@media (min-width: 768px) {
    [role="main"] {
        padding-top: 48px;
        /* Space for fixed navbar */
    }
}

/*
 * Navbar
 */

#logo {
    height: 2.5rem;
    margin-left: 7%;
    width: auto;
}

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: #212529;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.navbar {
    background-color: #333;
}

.nav-item {
    margin-left: 2.5rem;
}

.nav-link {
    letter-spacing: 0.5px;
}

.nav-link i {
    color: white;
}

.nav-social-buttons {
    width: 10rem;
}

.nav-social-buttons a {
    margin-right: 1rem;
}

nav li {
    position: relative;
}


@media(min-width: 1024px) {
    .nav-animate::before {
        transition: 300ms;
        height: 5px;
        content: "";
        position: absolute;
        background-color: #F28E13;
        width: 0%;
        bottom: 2px;
    }

    .nav-animate:hover::before {
        width: 90%;
    }

}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/* Main Content */

#taskBtn {
    margin: 2% auto;
}

.strikeThrough>:nth-child(-n+6) {
    text-decoration: line-through;
}

.notStrikeThrough>:nth-child(-n+6) {
    text-decoration: none;
}